name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SQS_BOOKING_CONFIRMATION_QUEUE_URL: ${{ secrets.SQS_BOOKING_CONFIRMATION_QUEUE_URL }}
          SQS_BOOKING_REQUEST_QUEUE_URL: ${{ secrets.SQS_BOOKING_REQUEST_QUEUE_URL }}
        run: |
          mkdir -p ~/.ssh
          echo "$EC2_KEY" > ~/.ssh/ec2_key.pem
          chmod 600 ~/.ssh/ec2_key.pem
          ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts 2>/dev/null || true
          ssh -i ~/.ssh/ec2_key.pem -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST "export DATABASE_URL='$DATABASE_URL' AWS_ACCESS_KEY_ID='$AWS_ACCESS_KEY_ID' AWS_REGION='$AWS_REGION' AWS_SECRET_ACCESS_KEY='$AWS_SECRET_ACCESS_KEY' SQS_BOOKING_CONFIRMATION_QUEUE_URL='$SQS_BOOKING_CONFIRMATION_QUEUE_URL' SQS_BOOKING_REQUEST_QUEUE_URL='$SQS_BOOKING_REQUEST_QUEUE_URL' && bash -s" < ./scripts/deploy.sh
